<html lang="en">
  <head>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

  </head>
  <body>
    <header class="header">
    </header>

    <div class="container">
     <div class="content">
        @!section('content') 
      </div>
    </div>
  </body>
</html>